@import "../../styles/functions";

#actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn__actions {
  background: getColor(color-primary-2);
  & .action__icon {
    font-size: 2.8em;
  }
  & #icon__edit {
    color: #5a5a5a;
  }
  & #icon__delete {
    color: #ff4d4d;
  }
}
