$bg-color: #8d99ae;
$color-primary: #2b2d42;
$color-primary-2: #edf2f4;
$color-secondary: #8f7ad670;

$bg-color-dark: #1c1e26;
$color-primary-dark: #fdfae0;
$color-primary-2-dark: #f2f2f2;
$color-secondary-dark: #4a4f67;

$light: 200;
$normal: 400;
$semi-bold: 600;
$bold: 800;
